/* Common */

html {
    scroll-behavior: smooth;
}

body {
    width: 1440px;
    margin: auto;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 26px;
    color: #2e2f22;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover,
a:active,
.inline-link {
    text-decoration: underline;
}


h1, h2, h3 {
    font-family: 'Spectral SC', serif;
    font-weight: 700;
}

button,
input[type="button"],
input[type="submit"] {
    display: block;
    width: 224px;
    height: 46px;
    line-height: 22px;
    text-transform: uppercase;
    border: 1px solid #202117;
    border-radius: 10px;
    background: transparent;
    cursor: pointer;
}

button:hover,
input[type="button"]:hover,
input[type="submit"]:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

button:active,
input[type="button"]:active,
input[type="submit"]:active {
    background-color: rgba(0, 0, 0, 0.2);
}

.site-header,
.page-section,
.page-article,
.comment-section {
    padding: 0 120px;
}

.site-header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;

    height: 581px;
    background-image: url("/img/page1-header-bg.jpg");
}

.page-section,
.page-article  {
    margin-top: 85px;
}

.page-footer {
    margin-top: 81px;
}

.comment-section {
    margin-top: 65px;
}

.site-logo {
    margin-top: 4px;
}

.main-menu > ul {
    margin: 0 -15px 0 0;
    padding: 0;
    padding-top: 33px;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    list-style: none;
}

.main-menu__item {
    margin-right: 83px;
}

.main-menu__item a {
    padding: 10px 15px;
}

.main-menu__item:last-child {
    margin-right: 0;
}

.page-footer {
    min-height: 181px;
    background-color: #d7d1c9;
}

.page-footer .social-links {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 65px 0 0 0;
}

.social-links > li {
    margin: 0 60px;
}

.main-menu a,
.social-links a {
    font-size: 18px;
    line-height: 25px;
}

/* Main page */

.section-heading {
    margin: 0 0 49px 0;
    font-size: 36px;
    line-height: 55px;
}

.page-section:not(.articles) .section-heading {
    text-align: center;
}

/* Articles */

.articles header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.articles header select {
    width: 203px;
    height: 46px;
    box-sizing: border-box;
    padding: 12px 20px;
    background-color: #d7d1c9;
    border: none;
    border-radius: 10px;
    appearance: none;
    background-image: url("/img/icons/select-arrow.svg");
    background-repeat: no-repeat;
    background-position: calc(100% - 12px) 50%;
    outline: none;
}

.articles-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: 0 -10px 42px;
}

.btn-show-more {
    margin: auto;
}

/* Article cards */

.article-card {
    flex: 1 0 30%;
    min-width: 250px;
    margin: 0 10px 62px;
    position: relative;
}

.article-card--featured {
    min-width: 380px;
}

.article-card--featured .article-card-info {
    color: white;
    position: absolute;
    bottom: 61px;
    left: 82px;
    right: 79px;
}

.article-card__image {
    width: 100%;
    border-radius: 10px;
}

.article-card__title {
    font-size: 18px;
    line-height: 27px;
    margin: 27px 0 8px 0;
    /* overflow: hidden; */
    /* white-space: nowrap; */
    /* text-overflow: ellipsis; */
}

.article-card--featured .article-card__title {
    font-size: 20px;
    line-height: 30px;
}

.article-card__summary {
    margin: 0 0 12px 0;
}

.article-card--featured .article-card__summary {
    font-size: 18px;
    line-height: 28px;
}

.article-card-footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    opacity: 0.7;
}

/* Biography */

.bio-container {
    display: flex;
    justify-content: space-between;
}

.bio-photo {
    margin-right: 20px;
    border-radius: 10px;
}

.bio-text {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}

.bio-text-main {
    padding: 42px 75px 0 23px;
}

.bio-text-main p {
    margin: 0 0 16px 0;
}

.bio-text blockquote {
    margin: 0;
    padding: 0 0 0 20px;
    font-style: italic;
    font-size: 30px;
    line-height: 40px;
    border-left: 3px solid #d7d1c9;
}

/* Portfolio */

.portfolio-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-bottom: 104px;
}

.portfolio-card {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
}

.portfolio-card--dark {
    color: white;
}

.portfolio-card-info {
    position: absolute;
    top: 140px;
    text-align: center;
    padding: 0 20px;
    z-index: 5;
}

.portfolio-card__site {
    margin-bottom: 44px;
    font-family: 'Spectral SC', serif;
    font-size: 20px;
    line-height: 30px;
}

.portfolio-card__image {
    filter: blur(10px);
}

/* Contact form */
.contactme-form {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: space-between;
    box-sizing: border-box;
    width: 996px;
    height: 637px;
    margin: auto;
    padding: 53px 80px 62px;
    background-image: url("/img/contactme-form-bg.jpg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border-radius: 10px;
}

.contactme-form fieldset {
    margin: 0;
    padding: 0;
    border: none;
}

.contactme-form label {
    display: block;
    margin-bottom: 12px;
    font-family: 'Spectral SC', serif;
    font-size: 18px;
    line-height: 28px;
}

.contactme-form input[type="text"],
.contactme-form input[type="email"],
.contactme-form textarea {
    border: 1px solid #2e2f22;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.4);
}

.contactme-form input[type="text"],
.contactme-form input[type="email"] {
    width: 407px;
    box-sizing: border-box;
    margin-bottom: 20px;
    padding: 20px;
    line-height: 22px;
}

.contactme-form textarea {
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 293px;
    padding: 20px;
}

.contactme-form input::placeholder,
.contactme-form textarea::placeholder {
    color: #202117;
    opacity: 0.7;
}

.contactme-form-details {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.contactme-form-message {
    flex: 1 1 100%;
}

.contactme-form__submit {
    margin: 20px auto 0;
    align-self: center;
    flex: 0 0 auto;
}

/* Article page */

.site-header--article {
    background-image: url("/img/page2-header-bg.jpg");
}

.page-article {
    padding-right: 323px;
}

.article-header {
    margin-bottom: 50px;
}

.article-header h1 {
    font-family: 'Spectral SC', serif;
    font-size: 36px;
    line-height: 55px;
    margin: 0 0 6px 0;
}

.article-header__tags {
    margin-right: 18px;
}

.page-article p {
    margin-bottom: 26px;
}

.page-article figure {
    margin: 40px 0;
}

.page-article figcaption {
    margin-top: 10px;
    font-size: 14px;
}

.article-footer {
    margin-top: 40px;
}

.article-footer-buttons {
    display: flex;
    justify-content: space-between;
}


.article-share {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
}

.article-likes__btn,
.article-share__btn {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 0;
    background-color: transparent;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    cursor: pointer;
}

.article-likes__btn:hover,
.article-share__btn:hover,
.article-likes__btn:active,
.article-share__btn:active {
    background-color: transparent;
}

.article-likes__btn:active,
.article-share__btn:active {
    top: 2px;
    left: 1px;
}

.article-likes__count {
    font-size: 24px;
}

.article-likes__btn {
    background-image: url("/img/icons/like.svg");
}

.article-share li:not(:last-child) {
    margin-right: 32px;
}

.article-share__btn--twitter {
    background-image: url("/img/icons/twitter.svg");
}

.article-share__btn--facebook {
    background-image: url("/img/icons/facebook.svg");
}

.article-share__btn--vk {
    background-image: url("/img/icons/vk.svg");
}

.article-back-link {
    display: inline-block;
    margin-top: 37px;
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
}

.article-back-link::after {
    content: "";
    display: inline-block;
    width: 63px;
    height: 20px;
    margin-left: 26px;
    background-image: url("/img/icons/arrow.svg");
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

/* Comment section */

.comment-section {
    padding-right: 526px;
}

.comment-list {
    padding: 44px 44px 44px 100px;
    margin-bottom: 77px;
    background: #ece1e1;
    border-radius: 10px;
}

.comment {
    margin-bottom: 25px;
}

.comment-author-info {
    display: flex;
    align-items: center;
    font-weight: 700;
}

.comment__avatar {
    margin-right: 12px;
    vertical-align: middle;
    border-radius: 10px;
}

.comment__text {
    margin-top: 16px;
}

/* Comment form */

.comment-form {
    padding-left: 80px;
}

.comment-form__title {
    margin: 0 0 69px 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
}

.comment-form-controls {
    display: flex;
    justify-content: space-between;
}

.comment-form-controls fieldset {
    margin: 0 81px 0 0;
    padding: 0;
    border: none;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}

.comment-form-controls textarea {
    flex:1 1 100%;
    padding: 18px;
    border: 1px solid #2e2f22;
    border-radius: 10px;
    outline: none;
}

.comment-form-controls textarea::placeholder {
    color: #2e2f22;
}

.comment-form-controls input[type="submit"] {
    margin-top: 25px;
    text-transform: none;
}

.comment-form-field {
    position: relative;
}

.comment-form-field input[type="text"],
.comment-form-field input[type="email"] {
    width: 100%;
    height: 36px;
    margin: 0 0 25px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid #2e2f22;
    outline: none;
}

.comment-form-field input::placeholder {
    visibility: hidden;
}

.comment-form-field label {
    position: absolute;
    top: 5px;
    left: 1px;
    transition: all 0.2s;
}

.comment-form-field input:focus + label,
.comment-form-field input:not(:placeholder-shown) + label {
    font-size: 14px;
    top: -20px;
    left: 0;
}

/* Utility */

.visually-hidden { 
    position: absolute; 
    overflow: hidden; 
    clip: rect(0 0 0 0); 
    height: 1px;
    width: 1px; 
    margin: -1px;
    padding: 0;
    border: 0; 
}
